
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* font primary */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* primary */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* max-width: 1440px;
  margin: 0 auto; */
  background-color: #F5F8FF;
}
.dark01{
  color: #8987A1;
}

.org-primary{
  color: #E95A08;
}

.btn-primary{
  font-size: 1rem;
  font-weight: 500;
  background-color: #E95A08;
  color: #FFFFFF;
  border: none;
  padding: 19px 75px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

.width{
  max-width: 1140px;
  margin: 0 auto;
}

.text-primary{
  text-align: center;
}

/* header section  */
.header{
  max-width: 1140px;
  margin: 0 auto;
}

/* nav section */
.navber{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.margin{
  margin-right: 48px;
}

.nav-links{
  display: flex;
}

.nav-item{
  list-style: none;

}

.nav-link{
  text-decoration: none;
  color: #8987A1;
  font-size: 1rem;
}
.home{
  color: #252432;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 48px;
}
.cart{
  font-size: 1rem;
  color: #000000;
  
}

/* banner section */
.banner-container{
  display: flex;
  align-items: flex-end;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 4.06rem;
  font-weight: bold;
  color:#000000 ;
}

.banner-des{
  max-width: 570px;
  color: rgba(0, 0, 0, 0.5);

}

.banner-img{
  width: 100%;  
}

/* main section */

/* card-section */

.cards-title-des{
  text-align: center;

}

.cards-title{
  font-size: 3.12rem;
  font-weight: bold;
}

.cards-des{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.378rem;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;

  margin-top: 49px;
  margin-bottom: 200px;
}

.card{
  max-width:270px;;
}

.card-title{
  font-size: 1.337rem;
  font-weight: 500;

}

.card-rate{
  font-size: 1.337rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.card-img{
  width: 100%;
}

/* Flower-Plants-Lover */

.Flower-Plants-Lover-container{
  display: flex;
  align-items: center;
  gap: 60px;
}

.images-container{
  position: relative;
   width: 540px;

}

.img1{

 
}
.img2{
  position: absolute;
  max-width: 286px;
  height: 286px;
  right: -140px;
  top: -135px;
}

.img1-logo{
  width: 100%;

}

.img2-logo{
  width: 100%;
}

.Flower-Plants-Lover--{
  width: 540px;
}

.Flower-Plants-Lover-title{
  font-size: 3.12rem;
  font-weight: bold;
  color:#000000
}
.Flower-Plants-Lover-lists{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  padding: 5px 10px;
}








/* Media Queries */

@media screen and (max-width:576px){

  .display,
  .img2{
    display: none;
  }

  .banner-container{
    flex-direction: column-reverse;
    
  }

  .banner,
  .navber,
  .Flower-Plants-Lover-container{
    padding: 28px 16px;
  }

  .banner-title{
    font-size: 1.5rem;
    margin-bottom: 13px;
  }


  .card{
    max-width: 171px;
  }

  .card-title{
    font-size: 1rem;
  }
  .card-rate{
    font-size: 1rem;
  }
  .cards-title{
    font-size: 1.5rem;
  }

  .cards-des{
    font-size: 0.87rem;
  }

  .cards{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 41px;
  }
  .btn-primary{
    padding: 19px 30px;
  }

  .Flower-Plants-Lover-container{
    flex-direction: column;
  }

  .Flower-Plants-Lover-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .Flower-Plants-Lover-lists{
    font-size: 0.87rem;
  }
  .images-container{
    width: 360px;
  }
  .Flower-Plants-Lover--{
    width: 360px;
  }
}